{{ define "main" }}

{{ partial "single-page-title.html" . }}

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- work single Content -->
        <div class="work-single-content">


<div class="embed video-player">
<iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ .Params.Id }}" allowfullscreen frameborder="0">
</iframe>
</div>
	<br>
	<br>

    {{ with .Content }}
    {{ . }}
    {{ end }}

        </div>
      </div>
      </div>
    </div>
  </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}
